html {
  scroll-behavior: smooth;

}
body {
  height: 100%;
  margin: 0;
  font-family: 'sequelBlack', sans-serif;
  background-color: #EAA500;

}

@font-face {
  font-family: sequelBlack;
  src: url('../fonts/Sequel100Black-95.ttf');
}
@font-face {
    font-family: nimbus;
    src: url('../fonts/nimbussandbla.ttf');
}

a {
    text-decoration: none;
}

.bar {
    height: 50px;
    background-color: rgb(0, 0, 0);
}

.hero{
    position: relative;
    color: white;
    text-transform: uppercase;
}
.herotitle{
    position: relative;
    font-size: 50px;
    left: 50px;
}
/*.hero {*/
/*  position: relative;*/
/*  height: 90vh;*/
/*  overflow: hidden;*/
/*  background-color: #EAA500;*/
/*  padding: 50px;*/
/*  box-sizing: border-box;*/
/*}*/


/*.herotitle {*/
/*  position: absolute;*/
/*  top: 50px;*/
/*  left: 50px;*/
/*  display: flex;*/
/*  justify-content: flex-start;*/
/*  align-items: flex-start;*/
/*  z-index: 10;*/
/*}*/
/*.herotitle h1 {*/
/*  font-size: 120px;*/
/*  font-weight: 900;*/
/*  color: white;*/
/*  letter-spacing: 2px;*/
/*  margin: 0;*/
/*}*/
/*.herotitle h2 {*/
/*  font-size: 80px;*/
/*  font-weight: 900;*/
/*  color: white;*/
/*  margin: 0;*/
/*  text-transform: uppercase;*/
/*}*/
button {
  position: relative;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  align-content: center;
  cursor: pointer;
  border: none;
  transition: transform 0.3s;
  left: calc(50% - 60px);
}

button:hover {
  transform: translateY(5px);
}

.card-wrapper {
  display: flex;
  /*justify-content: space-between;*/
  flex-wrap: wrap;
  gap: 50px;
  padding: 80px;
  padding-top: 100px;
  padding-bottom: 50px;
}

/*.card {*/
/*  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
/*  transition: 0.3s;*/
/*  border-radius: 5px;*/
/*  flex: 0 1 23%;*/
/*  background-color: white;*/
/*  margin-bottom: 20px;*/
/*}*/

.card img {
  width: 500px;
    height: 500px;
  border-radius: 5px 5px 0 0;
  position: relative;
}

.card .container {
  padding: 10px;
  text-align: center;
}

/*kaart*/
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 500px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    color: #EAA500;
    border-radius: 15px;
    font-family: 'nimbus', sans-serif;
    font-size: 30px;
    position: relative;
}

a {
    text-decoration: none;
    color: rgb(48, 8, 8);
}
.button-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.doubleimg{
    position: absolute;
}
.doubleimg:nth-child(1){
    z-index: 2;
}
.doubleimg:nth-child(2){
 display: none;
}
.doubleimg:nth-child(3){
    display: none;
}

.filter{
    width: 200px;
    border-radius: 0%;
}
.check{
    width: 30px;
    color: lightblue;
    padding: 30px;
}
.admin{
    color: red;
}