body{
    margin: 0;
}
.profile-section {
  background-color: #f3b415;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
  position: relative;
  overflow: hidden;
}

.top-bar {
  width: 100%;
  padding: 20px 40px;
  font-weight: bold;
  font-size: 24px;
}

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  flex-grow: 1;
}

.nav-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #000;
  background: transparent;
  font-size: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-circle-group {
  text-align: center;
  font-weight: bold;
}

.profile-card {
  text-align: center;
  width: 400px;
}

.model-name {
  font-size: 48px;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.image-box {
  background-color: #bbb;
  height: 350px;
  position: relative;
  border: 1px solid #999;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow-overlay {
  position: absolute;
  top: 50%;
  width: 110%;
  left: -5%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}

.profile-info {
  margin-top: 20px;
  font-weight: bold;
}
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}