body {
    margin: 0;
    background-color: #f0e6e6;
}

.profile-section {
    position: relative;
    background-color: #EAA500;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: hidden;
    font-family: 'Arial', sans-serif;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    text-decoration: none;
    font-size: 24px;
    color: #000;
    background: white;
    padding: 5px 15px;
    border-radius: 50px;
    z-index: 11;
    font-family: 'Arial', sans-serif;
}

.back-btn:hover {
    background: #000;
    transition: all 0.7s ease;
    color: #fff;
}

.profile-card {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 10px 30px rgba(44, 43, 43, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    font-family: 'Arial', sans-serif;
}

.model-name {
    margin-top: 0;
    color: #2c2929;
}

.slideshow-container {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    background: #ddd;
}

.mySlides img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
}

.dot-container { 
    margin: 15px 0; 
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

.collapsible {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 8px 8px 0 0;
    margin-top: 15px;
    font-family: 'Arial', sans-serif;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease-out;
    background-color: #bebaba;
    border-radius: 0 0 8px 8px;
    font-family: 'Arial', sans-serif;
}
.nav-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: 2px solid #000;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    z-index: 10;
}

.nav-arrow:hover {
    background: #000;
    color: #fff;
}

.nav-arrow.left { left: 5%; }
.nav-arrow.right { right: 5%; }

@media (max-width: 768px) {
    .nav-arrow.left { left: 10px; width: 45px; height: 45px; }
    .nav-arrow.right { right: 10px; width: 45px; height: 45px; }
}